/* Configuraciones básicas */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: var(--fondoBody);
    background-size: cover;
    color: var(--textoColor);
    transition: background 0.3s, color 0.3s;
    background-attachment: fixed;
}

* {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Centrar el contenedor de registro e inicio de sesión */
.contBody {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 80px;
}

/* Contenedores de registro e inicio de sesión */
.contRegIn {
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    border-radius: 50px;
    width: 370px;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: var(--fondoRegIn);
    color: var(--textoColor);
    backdrop-filter: blur(7px);
}

/* Ingresos de texto */
input {
    margin: 7px;
    height: 25px;
    width: 220px;
    background-color: var(--fondoInput);
    color: var(--textoInput);
    border: none;
    box-shadow: 0 0 15px var(--colorSombra);
}

/* Para que no se cambie el campo de color al autorellenar */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--fondoInput) inset, 0 0 15px var(--colorSombra);
    -webkit-text-fill-color: var(--textoInput) !important;
    caret-color: var(--textoInput) !important;
    transition: background-color 0s ease-in-out 9999s;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--fondoInput) inset, 0 0 15px var(--colorSombra);
    -webkit-text-fill-color: var(--textoInput) !important;
    caret-color: var(--textoInput) !important;
}

/* Botón registrarse/ingresar */
input[type="submit"] {
    border: none;
    border-radius: 30px;
    height: 50px;
    width: 150px;
    font-size: large;
    transition: 0.3s;
    background-color: var(--fondoBoton);
    color: var(--textoBoton);
}

input[type="submit"]:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Ocultar estilo por defecto del checkbox */
.recordarme input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 4px;
    vertical-align: middle;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    bottom: 2px;
    right: 12px;
}

/* Fondo y check cuando está marcado */
.recordarme input[type="checkbox"]:checked {
    background-color: var(--fondoBoton);
}

/* Palomita del check */
.recordarme input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--textoBoton);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

a {
    color: var(--aTextoColor);
}

.modoContainer {
    position: absolute;
    display: flex;
    gap: 15px;
    background-color: var(--fondoRegIn);
    margin: 15px;
    padding: 10px;
    border-radius: 40px;
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra);
    backdrop-filter: blur(7px);
}

.modoIcono {
    text-align: center;
    font-size: 18px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--colorSombra) inset;
    background-color: var(--fondoBotonModo);
    transition: 0.3s;
    color: #aaa;
}

.modoIcono.activo {
    color: #333;
    transform: scale(1.2);
}

body.dark .modoIcono {
    color: #777;
}

body.dark .modoIcono.activo {
    color: #fff;
}

/* ------------- Header ------------- */

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 70px;
    top: 0;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    z-index: 9999;
}

.logoPrincipal {
    background: var(--logoOscCla);
    position: absolute;
    height: 80px;
    width: 80px;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--colorSombra) inset, 0 0 15px var(--colorSombra) inset, 0 0 30px var(--colorSombra) inset;
    top: 10px;
    left: 10px;
    transition: 0.3s;
}

.logoPrincipal:hover {
    rotate: 360deg;
    transition: 1s;
}

.logoC {
    position: absolute;
    display: flex;
    z-index: 100;
    left: 0;
    height: 120px;
    width: 120px;
    background-color: var(--fondoRegIn);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    border-bottom-right-radius: 100px;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.botonesIn {
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 1;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--fondoHeader);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.cuentaC {
    position: absolute;
    display: flex;
    z-index: 100;
    right: 0;
    width: 120px;
    height: 120px;
    background-color: var(--fondoRegIn);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    border-bottom-left-radius: 100px;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.b1 {
    font-size: large;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 24px 20px;
    color: var(--textoColor);
    transition: 0.3s;
    position: relative;
    text-decoration: none;
}

.b1:hover {
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--aTextoColor);
}

.b1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--aTextoColor);
    transition: width 0.3s ease;
}

.b1:hover::after {
    width: 100%;
}

.b2 {
    font-size: large;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding: 20px 20px;
    color: var(--textoColor);
    transition: 0.3s;
    position: relative;
    text-decoration: none;
    display: none;
}

.b2:hover {
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--aTextoColor);
}

.b2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: var(--aTextoColor);
    transition: width 0.3s ease;
}

.b2:hover::after {
    width: 100%;
}

.cuentaLogo {
    color: var(--textoColor);
    background: var(--cuentaBoton);
    box-shadow: 0 0 5px var(--colorSombra) inset, 0 0 15px var(--colorSombra) inset, 0 0 30px var(--colorSombra) inset;
    background-size: cover;
    border: none;
    cursor: pointer;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: 0.3s;
}

.cuentaLogo:hover {
    transform: scale(0.9);
}

/* ------------- Contenedor de los datos de la cuenta ------------- */

/* Boton "x" para cerrar */
.cerrarMenu {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 34px;
    font-weight: bold;
    color: var(--subrayado);
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    z-index: 9999;
}

.cerrarMenu:hover {
    color: red;
}

.cuentaCont {
    position: fixed;
    display: flex;
    z-index: 10000;
    transition: 0.3s;
}

/* Contenedor visible de los datos de la cuenta */
.cuentaDatosCss {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: var(--fondoRegIn);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    border-radius: 50px 0 50px 50px;
    padding: 20px 40px 40px 40px;
    z-index: 100;
    width: 280px;
    height: 500px;
    backdrop-filter: blur(10px);
}

/* Cuando está visible */
.cuentaDatosCss.activo {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.cuentaDatosCss input,
.cuentaDatosCss button {
    display: block;
    width: 100%;
}

.espaciar {
    padding-bottom: 2px;
}

/* Centrar titulo */
.cent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Centrar botones */
.cent2 {
    width: 200px;
    display: inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: absolute;
    top: 220px;
    left: 74px;
    margin-top: 30px;
}

/* Centrar modos */
.cent3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 62px;
    left: 182px;
}

.subrayado {
    border-bottom: 1px solid var(--subrayado);
    padding-bottom: 2px;
}

/* Separación del header invisible de soporte */

.contInv {
    display: flex;
    position: relative;
    top: 70px;
    width: cover;
    flex-direction: column;
}

/* ------------- Sección presentación ------------- */

.contenidos {
    display: inline;
    margin: 70px 8% 25px 8%;
    border-radius: 50px;
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
}

.contenidos1 {
    background-color: var(--fondoRegIn);
    padding: 7px 55px 15px 55px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    backdrop-filter: blur(7px);
    z-index: 100;
    position: relative;
    text-shadow: 0 0 25px rgb(180, 255, 180);
    text-align: center;
    transition: 0.3s;
}

.contenidos1::after {
    content: "";
    display: block;
    border-bottom: 3px dashed var(--subrayado);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
}

.contenidos2 {
    background-color: var(--fondoRegIn);
    padding: 1px 55px 30px 55px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    backdrop-filter: blur(7px);
    transition: 0.3s;
}

.contenidos2 li {
    padding: 5px;
}

#inicio {
    scroll-margin-top: 140px;
}

/* ------------- Carga de actividades ------------- */

/* Div de carga de actividades */
.cargarAct {
    background-color: var(--fondoHeader);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    backdrop-filter: blur(7px);
    padding: 30px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Cargar nombre de actividad */
input[name="titulo"] {
    width: calc(100% - 4px);
    margin: 0 0 7px 0;
}

/* Cargar hora de inicio */
label[for="hora_inicio"] {
    margin: 7px 0 7px 0;
    display: flex;
    font-size: 14px;
}

input[name="hora_inicio"] {
    width: 80px;
    height: 27px;
    margin: 7px 0 5px 0;
    position: relative;
}

input[name="hora_inicio"]:hover {
    cursor: pointer;
}

.hiDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0;
}

/* Cargar hora de fin */
label[for="hora_fin"] {
    margin: 7px 0 7px 0;
    display: flex;
    font-size: 14px;
}

input[name="hora_fin"] {
    width: 80px;
    height: 27px;
    margin: 7px 0 5px 0;
    position: relative;
}

input[name="hora_fin"]:hover {
    cursor: pointer;
}

.hfDiv {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 0;
}

/* Centrar --:-- */
input[type="time"] {
    text-align: center;
}

/* Ocultar reloj del input "time" */
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Cargar color */
label[for="color"] {
    margin: 7px 0 7px 0;
    display: flex;
    font-size: 14px;
}

input[name="color"] {
    width: 26px;
    height: 27px;
    margin: 7px 0 5px 0;
    position: relative;
}

input[name="color"]:hover {
    cursor: pointer;
}

.cDiv {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Cargar prioridad */
select[name="prioridad"] {
    margin: 7px 0 7px 0;
    height: 27px;
    flex: 1;
    background-color: var(--fondoInput);
    color: var(--textoInput);
    border: none;
    box-shadow: 0 0 15px var(--colorSombra);
}

select[name="prioridad"]:hover {
    cursor: pointer;
}

/* Cargar día */
select[name="dia"] {
    margin: 7px 0 7px 0;
    height: 27px;
    flex: 1;
    background-color: var(--fondoInput);
    color: var(--textoInput);
    border: none;
    box-shadow: 0 0 15px var(--colorSombra);
}

select[name="dia"]:hover {
    cursor: pointer;
}

/* Alinear contenedores de carga de actividades */
.alignD {
    flex-direction: row;
    display: flex;
    gap: 12px;
}

/* Botón agregar actividad */
input[name="agregar"] {
    width: 170px;
    margin: 7px 7px 0 7px;
}

/* Centrar botón */
.centrarAg {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

/* ------------- Datos de actividades ------------- */

/* Contenedor padre */
.datosAct {
    width: cover;
    height: 90px;
    background-color: var(--fondoHeader);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    backdrop-filter: blur(7px);
    display: flex;
    margin: 0 8px 0 8px;
    border-radius: 20px 0 20px 0;
    border: dashed;
    border-color: gray;
    transition: 0.3s;
}

.datosAct:hover {
    transform: rotate(1deg) scale(1.03);
    cursor: grab;
}

/* Contenedor de actividad vacía */
.actVac {
    width: cover;
    height: 90px;
    background-color: var(--fondoHeader);
    box-shadow: 0 0 5px var(--colorSombra), 0 0 15px var(--colorSombra), 0 0 30px var(--colorSombra);
    backdrop-filter: blur(7px);
    display: flex;
    margin: 0 8px 0 8px;
    border-radius: 20px 0 20px 0;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: gray;
    opacity: 20%;
}

/* Contenedor superior */
.supCont {
    width: 100%;
    height: 50%;
    background-color: var(--fondoHeader);
    box-shadow: 0 0 10px var(--colorSombra);
    z-index: 9;
    display: flex;
    border-top-left-radius: 20px;
    align-items: center;
    position: relative;
}

.datosAct .supCont p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 100px);
}

/* Color de la actividad */
.col {
    height: 15px;
    width: 15px;
    border: var(--textoColor);
    border-style: solid;
    border-width: 2px;
    background-color: lightblue;
    margin-left: 14px;
    margin-right: 8px;
    border-radius: 15px;
}

/* Ícono de borrar actividad */
.del {
    height: 100%;
    background-color: var(--fondoHeader);
    box-shadow: 0 0 10px var(--colorSombra);
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.3s;
    border: none;
    font-size: 17px;
    color: var(--textoColor);
    z-index: 10;
}

.del:hover {
    color: red;
    cursor: pointer;
}

/* Contenedor inferior */
.infCont {
    height: 45px;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    align-items: center;
}

/* Contenedor horario */
.horario {
    height: 100%;
    width: 50%;
    align-items: center;
    display: flex;
    padding-left: 15px;
}

/* Contenedor día */
.dia {
    height: 100%;
    width: 50%;
    align-items: center;
    display: flex;
    padding-left: 15px;
    box-shadow: 0 0 10px var(--colorSombra);
}

/* Tablas */
.tablaCont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 15px;
}

th {
    border-bottom: 3px solid var(--subrayado);
}

td {
    padding: 15px 0;
    border-right: 3px solid var(--subrayado);
    text-align: center;
}

td:last-child,
th:last-child {
    border-right: none;
}


#actividades {
    scroll-margin-top: 140px;
}

/* Gráfico semanal */

/* Gráfico diario */

#graficos {
    scroll-margin-top: 140px;
}

/* Recordatorios */

#recordatorios {
    scroll-margin-top: 140px;
}

/* ------------- Crear variables para modos claro y oscuro ------------- */

/* Variables del modo claro */
:root {
    --fondoBody: url(../img/fondo_claro.jpg);
    --textoColor: black;

    --fondoHeader: #f9f9f97a;

    --logoOscCla: url(../img/logo_miniclaro.png);

    --fondoRegIn: #f3f3f37a;
    --colorSombra: lightgray;

    --fondoBoton: rgb(0, 80, 0);
    --textoBoton: white;

    --fondoBotonModo: #f5f5f5;
    --textoBotonModo: black;

    --aTextoColor: rgb(0, 80, 0);

    --fondoInput: white;
    --textoInput: black;

    --cuentaBoton: url(../img/cuenta_claro.jpg);

    --subrayado: rgb(181, 181, 181);
}

/* Variables del modo oscuro */
body.dark {
    --fondoBody: url(../img/fondo_oscuro.jpg);
    --textoColor: white;

    --fondoHeader: #1717177a;

    --logoOscCla: url(../img/logo_minioscuro.png);

    --fondoRegIn: #1e1e1e7a;
    --colorSombra: black;

    --fondoBoton: rgb(180, 255, 180);
    --textoBoton: black;

    --fondoBotonModo: #171717;
    --textoBotonModo: white;

    --aTextoColor: rgb(180, 255, 180);

    --fondoInput: #2a2a2a;
    --textoInput: white;

    --cuentaBoton: url(../img/cuenta_oscuro.jpg);

    --subrayado: rgb(78, 78, 78);
}

/* ------------- Responsive amplio para los botones del header y el formulario de actividades ------------- */

@media (max-width: 1200px) {

    .b1 {
        font-size: 15px;
        padding: 24px 10px;
    }

    .b1::after {
        bottom: -2px;
    }

    .alignD {
        flex-direction: column;
        display: flex;
        gap: 0;
    }

    select[name="prioridad"] {
        width: 100%;
        flex: none;
    }

    select[name="dia"] {
        width: 100%;
        flex: none;
    }
}

/* ------------- Responsive para la tabla de actividades ------------- */

@media (max-width: 1000px) {

    /* Tablas de actividades */
    .tablaCont {
        flex-direction: column;
    }

    /* Actividades */
    .datosAct {
        margin: 0;
    }

    /* Contenedor vacío */
    .actVac {
        margin: 0;
    }
}

/* ------------- Responsive general para celulares ------------- */

@media (max-width: 676px) {

    /* Elementos del header */
    .logoPrincipal {
        height: 65px;
        width: 65px;
        top: 10px;
        left: 10px;
    }

    .logoC {
        height: 100px;
        width: 100px;
        border-bottom-right-radius: 80px;
    }

    .cuentaC {
        width: 100px;
        height: 100px;
        border-bottom-left-radius: 80px;
    }

    .cuentaLogo {
        height: 65px;
        width: 65px;
        top: 10px;
        right: 10px;
    }

    .b1 {
        display: none;
    }

    .b2 {
        display: flex;
        padding: 20px 5px;
    }

    .botonesIn {
        height: 80%;
    }

    /* Contenedores de actividades */
    .contenidos1 {
        padding: 7px 30px 15px 25px;
    }

    .contenidos2 {
        padding: 1px 30px 30px 25px;
    }
}

.grafico-container {
  width: 100%;
  max-width: 500px;   /* el gráfico nunca será más grande que 500px */
  margin: 0 auto;     /* centrado */
}

#graficoPrioridad {
  width: 100% !important;  /* ocupa todo el ancho del contenedor */
  height: auto !important; /* altura proporcional */
}
